<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="net02.Properties.Settings.curp_xa_2023ConnectionString"
            connectionString="Data Source=WICHOLIK\SQLEXPRESS;Initial Catalog=curp_xa_2023;Persist Security Info=True;User ID=sa;Password=toonlinkike;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>